<section class="home">
    <header class="home__header">
        <img src="../../../assets/img/logo.png" alt="Logo Gama Academy">
    </header>
    <img src="../../../assets/img/happyhappy.png" class="home__img" alt="Happy woman">
    <section class="home__create-account">
        <div class="home__presentation">
            <h1 class="home__title">Gama Bank é um projeto de nossos alunos.</h1>
            <p class="home__text">Já tem conta?</p>
            <a class="home__link" routerLink="login">Acessar 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>
            </a>
        </div>
        <app-create-account-form></app-create-account-form>
    </section>
</section>

