<section class="card">
    <header class="card__header">
        <i><img src="../../../../assets/img/money.svg" alt="Icone de dinheiro"></i>
        <h4 class="card__span">Último lançamento</h4>
    </header>
    <article class="card__information">
        <section class="card__information-wallet">
            <strong>Compra no débito</strong>
            <p class="card__title">GamaAcademy</p>
            <p class="card__information-money">r$: 298,55</p>
        </section>
        <footer>
            <p class="card-information-date">Dia  24 de Jan.</p>
        </footer>
    </article>
</section>
