<section class="home">
    <header class="home__header">
        <img src="../../assets/img/logo.png" alt="Logo Gama Academy">
    </header>
    <img src="../../../../../assets/img/happyhappy.png" class="home__img" alt="Happy woman">
    <section class="home__create-account">
        <div class="home__presentation">
            <h1>Gama Bank é um projeto de nossos alunos. Já tem conta?</h1>
            <p>Já tem conta?</p>
            <a class="home__link">Acessar 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>
            </a>
        </div>

        <form class="form">
            <header class="form__header">
                <h3>Peça sua conta e cartão de crédito do Gama Bank</h3>
            </header>
            <div class="form__inputs">
                <label for="cpfInput"></label>
                <input type="text" id="cpfInput">
            </div>
            
            <div class="form__inputs">
                <label for="userInput"></label>
                <input type="text" id="userInput">
            </div>
        
            <div class="form__inputs">
                <label for="nameInput"></label>
                <input type="text" id="nameInput">
            </div>
        
            <div class="form__inputs">
                <label for="passwordInput"></label>
                <input type="password" id="passwordInput">
            </div>
        
            <div class="form__inputs">
                <label for="confirmPasswordInput"></label>
                <input type="password" id="confirmPasswordInput">
            </div>
        
            <button type="submit" [disabled] class="form__button">Continuar
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>    
            </button>
        </form>
    </section>
</section>

