.error {
    background-color: var(--bg-primary);
    height: 100vh;
}

.error__header {
    padding: 1rem;
}

.error__card {
    display: grid;
    height: 100vh;
    place-items: center;
}

.error__card-content {
    align-items: center;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 80%;
}

.error__card-text {
    color: var(--bg-primary);
    font-size: 1rem;
    font-weight: 700;
}

.error__card-button {
    width: 100%;
}

.error__card-button--link {
    align-items: center;
    background: var(--bg-secundary);
    border-radius: 20px;
    color: var(--white);
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: 1rem;
}

@media screen and (min-width: 768px) {

    .error__card-content {
        width: 50%;
    }

    .error__header {
        padding: 1rem 1rem 0;
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1200px) {
    .error {
        overflow: hidden;
    }

    .error__card-content {
        height: 55vh;
        width: 25%;
    }
    
    .error__card-text {
        padding: 1rem;
    }
}