.login {
    background-color: var(--bg-primary);
    max-width: 100vw;
    max-height: 100vh;
  }
  .login__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .login__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
  }
  
  /* .login__card {
    background-color: var(--white);
    border-radius: 8px;
    color: var(--black);
    height: auto;
    margin-top: 3rem;
    text-align: left;
    padding: 2rem;
    width: 70vw;
  } */
  
  button{
    outline: none;
  }
  
  .form {
      display: flex;
      flex-direction: column;
      align-items: center;
    background-color: var(--white);
    border-radius: 8px;
    color: var(--black);
    height: auto;
    margin-top: 3rem;
    text-align: left;
    padding: 2rem;
    width: 70vw;
  }
  
  .form__header {
    text-align: center;
    margin: 0 0 3rem 0;
  }
  
  .form__header h2 {
    font-weight: 700;
  }
  
  .form__inputs {
    margin-top: 1rem;
    width: 100%;
  }
  
  .form__validation {
    font-size: 0.9rem;
    color: var(--red);
  }
  
  .form__button {
    align-items: center;
    background-color: var(--bg-secundary);
    border: none;
    border-radius: 3rem;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin: 3rem 0;
    padding: 0.5rem;
    width: 100%;
    transition: all 0.5s ease-out;
  }
  
  .form__button:hover {
    background-color: var(--bg-primary-dark);
  }

  h4{
    margin-top: 1em;
  }
  
  .ng-invalid.ng-touched {
    border-color: var(--red);
  }
  
  .form__button--disabled:disabled {
    background-color: var(--button-disabled);
  }
  
  ::-webkit-input-placeholder {
    /* Edge */
    color: #999;
    font-size: 0.9rem;
    font-weight: normal;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
    font-size: 0.9rem;
    font-weight: normal;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  ::placeholder {
    color: #999;
    font-size: 0.9rem;
    font-weight: normal;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .login__link{
      text-decoration: none;
      margin: 0.4rem;
  }
  .login__link:hover{
      text-decoration: underline;
  }
  .login__link--purple{
      color: var(--bg-primary);
  }
  
  @media screen and (min-width: 768px) {
    .login__logo {
      position: fixed;
      left: 30px;
      top: 30px;
      display: flex;
      justify-content: flex-start;
    }
  
    .form {
      max-width: 35vw;
    }
    .form__button {
      padding: 0.8rem;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .form {
      max-width: 30vw;
    }
  }
  