<section class="card card--dimension">
    <header class="card__header">
        <i><img src="../../../../assets/img/money.svg" alt="Icone de dinheiro"></i>
        <h2 class="card__span">Conta</h2>
    </header>
    <h3 class="card__title">Saldo disponivel</h3>
    <strong><h2>{{ saldo | currency: 'BRL'}}</h2></strong>
    <footer class="card__footer">
        <h3 class="card__title">Transações</h3>
        <h2 class="card__title--green">{{ transacoes | currency: 'BRL' }}</h2>
    </footer>
</section>
