.form {
    background-color: var(--white);
    border-radius: 8px;
    color:var(--black);
    height: auto;
    margin-top: 3rem;
    text-align: left;
    padding: 2rem;
}

.form__header {
    text-align: left;
}

.form__header h3 {
    font-weight: 500;
    font-size: 1rem;
}

.form__inputs {
    margin-top: 1rem;
}

.form__validation {
    font-size: 0.9rem;
    color: var(--red);
}

.form__button {
    align-items: center;
    background-color: var(--bg-primary);
    border: none;
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    transition: all .5s ease-out;
}

.form__button:hover {
    background-color: var(--bg-primary-dark);
}

.ng-invalid.ng-touched {
    border-color: var(--red);
}

.form__button--disabled:disabled {
    background-color: var(--button-disabled);
}