<form class="form">
    <header class="form__header">
        <h3>Peça sua conta e cartão de crédito do Gama Bank</h3>
    </header>
    <div class="form__inputs">
        <label for="cpfInput">Digite seu CPF</label>
        <input type="text">
        <span class="highlight"></span>
        <span class="bar"></span>
    </div>
    
    <div class="form__inputs">
        <label for="cpfInput">Escolha um nome de usuário</label>
        <input type="text">
        <span class="highlight"></span>
        <span class="bar"></span>
    </div>

    <div class="form__inputs">
        <label for="cpfInput">Nome completo</label>
        <input type="text">
        <span class="highlight"></span>
        <span class="bar"></span>
    </div>

    <div class="form__inputs">
        <label for="cpfInput">Digite sua senha</label>
        <input type="password">
        <span class="highlight"></span>
        <span class="bar"></span>   
    </div>

    <div class="form__inputs">
        <label for="cpfInput">Confirmar senha</label>
        <input type="password">
        <span class="highlight"></span>
        <span class="bar"></span>
    </div>

    <button type="submit" [disabled] class="form__button">Continuar
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>    
    </button>
</form>