<section class="card">
    <header class="card__title">
        <i><img src="../../../../assets/img/money.svg" alt="Icone de dinheiro"></i>
        <label class="card__span">Último lançamento</label>
    </header>
    <article class="card__information">
        <section class="card__information-wallet">
            <strong>Compra no débito</strong>
            <label>GamaAcademy</label>
            <p class="card__information-money">r$: 298,55</p>
        </section>
        <div>
            <p class="card-information-date">Dia  24 de Jan.</p>
        </div>
    </article>
</section>
