.form__button {
    align-items: center;
    background-color: var(--bg-primary);
    border: none;
    border-radius: 5rem;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1.2rem;
    width: 100%;
    transition: all .5s ease-out;
}

.form__button:hover {
    background-color: var(--bg-primary-dark);
}

.ng-invalid.ng-touched {
    color: var(--red);
}

.form__button--disabled:disabled {
    background-color: var(--button-disabled);
}

.form__inputs {
    margin-top: 2rem;
}