<section class="account">
    <article class="account__details">
        <h2 class="account__details-title">Conta digital do Gama Academy</h2>
        <p class="account__details-text">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas.</p>
    </article>
    <article class="account__credit">
        <h2 class="account__credit-title">Cartão de crédito</h2>
        <p class="account__credit-text">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas.</p>
    </article>
</section>