<section class="account">
    <article class="account__details">
        <div class="account__details-digital">
            <h4 class="accout__details-title">Conta digital do Gama Academy</h4>
            <p class="account__details-text">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas.</p>
        </div>
        <div class="account__credit">
            <h4 class="account__credit">Cartão de crédito</h4>
            <p class="account__credit-text">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas.</p>
        </div>
    </article>
</section>