<nav class="navbar">
    <header class="navbar__header">
       <a routerLink="/#/dashboard/accounts"><img src="../../../../assets/img/logo-mini.png" class="navbar__header-logo" alt="Logo minificado gama academy"></a> 
    </header>
    <ul class="navbar__items">
        <li class="navbar__items-content">
            <img src="../../../../assets/img/pix.svg" alt="Icone do pix">
            <a routerLink="/#/dashbord" class="navbar__items-content-title">Home</a>
        </li>
        <li class="navbar__items-content">
            <img src="../../../../assets/img/pix.svg" alt="Icone do pix">
            <a routerLink="deposit" class="navbar__items-content-title">Depósitos</a>
        </li>
        <li class="navbar__items-content">
            <img src="../../../../assets/img/pix.svg" alt="Icone do pix">
            <a routerLink="plan" class="navbar__items-content-title">Planos</a>
        </li>
        <li class="navbar__items-content">
            <img src="../../../../assets/img/pix.svg" alt="Icone do pix">
            <a routerLink="transfers" class="navbar__items-content-title">Transferência</a>
        </li>
        
        <li class="navbar__items-logout">
            <button (click)="logout()" class="navbar__items-logout-button">Sair</button>
        </li>
    </ul>
</nav>