<nav class="navbar">
    <header class="navbar__header">
        <img src="../../../../assets/img/logo-mini.png" class="navbar__header-logo" alt="Logo minificado gama academy">
    </header>
    <ul class="navbar__items">
        <li class="navbar__items-content">
            <img src="../../../../assets/img/pix.svg" alt="Icone do pix">
            <p class="navbar__items-content-title">Depósitos</p>
        </li>
        <li class="navbar__items-content">
            <img src="../../../../assets/img/pix.svg" alt="Icone do pix">
            <p class="navbar__items-content-title">Planos</p>
        </li>
        <li class="navbar__items-content">
            <img src="../../../../assets/img/pix.svg" alt="Icone do pix">
            <p class="navbar__items-content-title">Pagamentos</p>
        </li>
        <li class="navbar__items-content">
            <img src="../../../../assets/img/pix.svg" alt="Icone do pix">
            <p class="navbar__items-content-title">Transações</p>
        </li>
        <li class="navbar__items-logout">
            <button (click)="logout()" class="navbar__items-logout-button">Sair</button>
        </li>
    </ul>
</nav>