.annuity {
    background: var(--bg-primary);
    text-align: center;
    padding: 1rem;
}

.annuity__text {
    color: var(--white);
}

.annuity__text--weight {
    font-weight: 700;
}

.annuity__text--green {
    color: var(--bg-secundary);
    font-size: 5rem;
    margin: 0;
}

@media screen and (min-width: 768px) {
    
    .annuity {
        display: flex;
        justify-content: space-around;
        text-align: initial;
        padding: 5rem;
    }
}

@media screen and (min-width: 1200px) {

    .annuity {
        padding: 20rem;
        align-items: center;
    }

    .annuity__text {
        width: 45%;
    }

    .annuity__text--green {
        font-size: 8rem;
    }
}