.form__inputs {
    margin-top: 2rem;
}

.ng-invalid.ng-touched {
    color: var(--red);
}

@media screen and (min-width: 768px) {
    .card--width {
        width: 90%
    }
}

@media screen and (min-width: 1200px) {
    .card--width {
        width: 70%;    
    }

    .form__button--dimension {
        width: 50%;
    }

    .form__footer {
        display: flex;
        justify-content: center;
    }
}