<section class="simple">
    <article class="simple__texts">
        <h2 class="simple__texts--weight">Simplifique a sua vida. Peça seu convite.</h2>
        <p class="simple__texts--address">GamaAcademy Bank Line S.A. - CNPJ 00.000.000/0000-00

            Rua Fictícia, 999 - 00000-000 - São Paulo, SP
            
            Este é um projeto de avaliação | GamaAcademy | Accenture | 2021</p>
    </article>
    <img src="../../../../../assets/img/app3.png" class="simple__img" alt="App 3">
</section>