.card{

    display: flex;
    flex-direction: column;



    background-color: var(--bg-light);
    height: 20vh;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

.card__title{
    display: flex;
    margin: 1rem 0;
}
.card__footer{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}