@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Roboto-500;
    src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Roboto-700;
    src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

:root{
    --bg-primary: #8C52E5;
    --bg-primary-dark: #692fc0;
    --bg-secundary: #68DE5A;
    --bg-secundary-dark: #4aac3f;
    --bg-light: #F8F8F8;
    --bg-dark: #000000;
    --bg-medium: #EAEAEA;
    --bg-default: #1783E7;
    --button-disabled: #D8D8D8;
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF000000;
    --gray-dark: #9B9B9B;
    --red: #FF0000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'arial', sans-serif;
}

input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width: 95%;
    border:none;
    background: none;
    border-bottom:1px solid #757575;
}
  
input:focus { outline:none; }
    
label  {
    color:#999; 
    font-size: 0.9rem;
    font-weight:normal;
    pointer-events:none;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
    
input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:14px;
    color:var(--bg-primary);
}
    
.bar { position:relative; display:block; width: 90%; }
.bar:before, .bar:after {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:var(--bg-primary); 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
.bar:before {
    left:50%;
}
  
.bar:after {
    right:50%; 
}
    
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}
    
.highlight {
    position:absolute;
    height:60%; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}
    
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}
    
@-webkit-keyframes inputHighlighter {
    from { background:var(--bg-primary); }
    to 	{ width:0; background:transparent; }
}
  
@-moz-keyframes inputHighlighter {
    from { background:var(--bg-primary); }
    to 	{ width:0; background:transparent; }
}
  
@keyframes inputHighlighter {
    from { background:var(--bg-primary); }
    to 	{ width:0; background:transparent; }
}

.card{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    height: auto;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.card__title,
.card__span {
    color: var(--gray-dark);
    font-size: 0.9rem;
    font-weight: 400;
}

.card__span {
    margin-left: 5%;
    font-size: 1rem;
}

.card__header{
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
}

.card__strong-title,
.card__title--green {
    font-size: 1rem;
    transition: all .5s ease-out;
}

.card__strong-title,
.card__title--green {
    font-weight: 700;
}

.card__title--green {
    color: var(--bg-secundary);
    margin-top: 5%;
}

.card__footer{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.form__button-spinner {
    width: 7%;
}

@media screen and (min-width: 748px) {
    .card__span {
        margin-left: 2%;
    }
}

@media screen and (min-width: 1200px) {
    .card--dimension {
        width: 20vw;
        height: 24vh;
    }
}