.dash{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dash__main{
    min-height: 80vh;
    background-color: var(--bg-primary);
    padding: 5rem 2rem;
}

.dash__welcome{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash__text {
    color: var(--white);
}

.dash__visible{
    border-radius: 50%;
    border: none;
    height: 2rem;
    width: 2rem;
    background-color: var(--bg-secundary);
}

@media screen and (min-width: 748px) {
    .dash__money {
        display: flex;
        justify-content: space-between;
    }

    .dash__card {
        width: 35vw;
    }
}

@media screen and (min-width: 1200px) {
    .dash {
        display: grid;
        grid-template-columns: 15% 1fr;
        grid-template-areas: "sidebar";
    }

    .dash__main {
        padding: 3rem 5rem;
    }

    .dash__welcome {
        width: 60vw;
    }
}

